<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.3.0" targetFramework="net48" />
  <package id="Caliburn.Micro" version="4.0.212" targetFramework="net48" />
  <package id="Caliburn.Micro.Core" version="4.0.212" targetFramework="net48" />
  <package id="CommonServiceLocator" version="2.0.7" targetFramework="net48" />
  <package id="CommunityToolkit.Mvvm" version="8.2.2" targetFramework="net48" />
  <package id="ControlzEx" version="4.4.0" targetFramework="net48" />
  <package id="DevExpress.Mvvm.CodeGenerators" version="22.1.1" targetFramework="net48" />
  <package id="DevExpressMvvm" version="23.2.3" targetFramework="net48" />
  <package id="EcoCore" version="7.0.0.15619" targetFramework="net48" />
  <package id="EcoWebMVC" version="7.0.0.15619" targetFramework="net48" />
  <package id="FontAwesome5" version="2.1.11" targetFramework="net48" />
  <package id="GrapeCity.DataVisualization.Chart" version="0.4.136" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="MahApps.Metro" version="2.4.10" targetFramework="net48" />
  <package id="MaterialDesignColors" version="3.0.0" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="5.0.0" targetFramework="net48" />
  <package id="MaterialDesignThemes.MahApps" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.77" targetFramework="net48" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net48" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="OxyPlot.Core" version="2.1.2" targetFramework="net48" />
  <package id="OxyPlot.Wpf" version="2.1.2" targetFramework="net48" />
  <package id="OxyPlot.Wpf.Shared" version="2.1.2" targetFramework="net48" />
  <package id="PieChart" version="1.0.1" targetFramework="net48" />
  <package id="Prism.Core" version="8.1.97" targetFramework="net48" />
  <package id="Prism.Wpf" version="8.1.97" targetFramework="net48" />
  <package id="Syncfusion.Grid.WPF" version="25.1.42" targetFramework="net48" />
  <package id="Syncfusion.GridCommon.Wpf" version="25.1.42" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="25.1.42" targetFramework="net48" />
  <package id="Syncfusion.Linq.Base" version="25.1.42" targetFramework="net48" />
  <package id="Syncfusion.SfChart.WPF" version="25.1.42" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="25.1.42" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>